{{ register_asset_bundle('app/assets/ModalAsset') }}
<input type="checkbox" class="nodisplay" id="modal-window-toggle">
<label for="modal-window-toggle" class="modal-window-toggle modal-window-background"></label>