{% extends '@layouts/site/_base_thre_columns.twig' %}
{% block title %}DOZOR{% endblock %}

{% block header %}
    <header style="grid-area: header; ">
    {% include '@layouts/site/_header.twig' %}
    </header>
{% endblock %}
{% block center %}
    <main style="grid-area: center-content;">
        <section>
            <input type="radio" name="slider"
        </section>
    </main>
{% endblock %}