input#modal-window-toggle:checked ~.background,
input#modal-window-toggle:checked ~.page-content {
    filter: blur(8px);
}

input#modal-window-toggle:checked ~ .modal-window-background {
    display: block;
}

.modal-window-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    content: " ";
    z-index: 2;
    box-shadow: 0 0 300px 100px black inset;
}