* {
    padding: 0;
    margin: 0;
}

html, body {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

body > .background {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    content: " ";
    background: linear-gradient(to bottom, black 12vh, rgba(0,0,0,0)), var(--background-image) no-repeat;
    background-size: cover;
    background-origin: border-box;
}

body > .page-content {
    display: grid;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: "header header header" "left-bar center-content right-bar" "footer footer footer";
}

.login-form {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    top: 50px;
}

.login-form > .content {
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.4);
    display: block;
}

.login-form:before {
    display: block;
    position: absolute;
    background-image: var(--background-image);
    content: " ";
    width: 100vw;
    height: 100vh;
    top: calc(100vh / 11 * 9 - 100vh + 16px - 50px);
    left: calc(100vw / 12 * 3 - 100vw);
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

