.page-header {
    /*background: rgba(0, 10, 18, 0.95);*/
    /*background: #010209;*/
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-title {
    text-indent: 50px;
    line-height: 12vh;
    font-size: 12vh;
    color: #ffc272;
    font-family: logo1;
}

.nodisplay {
    display: none;
}